.available_section__content_card {
  display: flex;
  flex-direction: row;
  place-content: flex-start space-between;
  width: 100%;
  padding-top: 12px;
}

.card-item__description {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: max-content;
  margin: 0;
  padding: 0;

}

.card-item__checkbox_label::after {
  position: absolute;
  top: -40px;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100px;
  padding-right: 110px;
  content: '';
}

.card-item__description_checkbox-with-image {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.card-item__description_checkbox {
  align-self: center;
  width: 22px;
  height: 22px;
}

.card-item__img {
  position: relative;
  width: 72px;
  height: 96px;
  margin-left: 12px;
  border-radius: var(--border-radius);
}

.card-item__img_wrapper::before {
  position: absolute;
  z-index: 2;
  display: block;
  width: 72px;
  height: 96px;
  margin-left: 12px;
  background-color: rgb(0 0 0 / 0.5%);
  border-radius: var(--border-radius);
  content: '';
}

.card-item__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 275px;
  margin-top: 5px;
  margin-left: 16px;
  padding-right: 24px;
}

.card-item__text_name {
  margin-top: -6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.card-item__text_details {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.card-item__text_details_item, .card-item__text_details_item_size {
  color: var(--text-black);
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.card-item__text_footer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-item__text_footer_item {
  width: max-content;
  color: var(--gray);
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.card-item__text_footer_item_info {
  position: relative;
  display: flex;
  flex-direction: row;
}

.info-tooltip__icon {
  width: 20px;
  height: 20px;
  margin-left: 6px;
  cursor: pointer;
}

.info-tooltip img {
  padding-bottom: 4px;
}

.info-tooltip__block {
  position: absolute;
  top: 24px;
  left: 0;
  z-index: 15;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  width: max-content;
  max-width: 290px;
  padding: 11px 14px 13px;
  background-color: var(--background-white);
  border-radius: 8px;
  box-shadow: var(--shadow);
  visibility: hidden;
}

.info-tooltip__block_header {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}

.info-tooltip__block_text {
  color: var(--light-system-text, #000);
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.card-item__order {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.card-item__order_counter_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100px;
}

.card-item__order_counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 44px;
  background: var(--background-white, #FFF);
  border-radius: var(--border-radius);
}

.card-item_counter__display {
  width: 44px;
  height: 23px;
  margin: 8px 0 13px;
  text-align: center;
}

.card-item_counter-display>input {
  width: 44px;
  height: 23px;
  color: var(--text-black, #000);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  outline: 0;
}

.card-item_counter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  padding: 0 7px 6px 8px;
  font-size: 20px;
  line-height: 24px;
}

.card-item_order_counter_warn {
  color: var(--orange);
  font-weight: 400;
  font-size: 13px;
  line-height: 16px
}

.card-item_order_counter_btns {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
}

.fav-item-btn {
  position: relative;
}

.card-item_order_counter_btns-fav svg {
  width: 20px;
  height: 20px;
}

.fav-item-btn svg path {
  transition: 0.3s;
}

.fav-item-btn::after {
  position: absolute;
  top: 0;
  right: -5px;
  left: -15px;
  padding: 15px;
  content: '';
}

.card-item_order_counter_btns-fav svg path {
  transition: 0.3s;
}

.card-item_order_counter_btns-fav:hover svg path {
  transition: 0.3s;
  fill: var(--accent);
}

.card-item_order_counter_btns-fav:active svg path {
  transition: 0.3s;
  fill: var(--accent);
}

.fav-item-btn__selected svg path {
  transition: 0.3s;
  fill: var(--accent);
}

.card-item_order_counter_btns-delete svg {
  width: 20px;
  height: 20px;
}

.card-item_order_counter_btns-delete svg path {
  transition: 0.3s;
}

.card-item_order_counter_btns-delete:hover svg path {
  transition: 0.3s;
  fill: var(--orange);
}

.delete-item-btn {
  position: relative;
}

.delete-item-btn::after {
  position: absolute;
  top: 0;
  left: 0;
  padding: 13px;
  content: '';
}

.delete-item-btn svg path {
  transition: 0.3s;
}

.card-item__order_price_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
  width: 110px;
  margin-top: -3px;
}

.card-item__order_price {
  display: inline-flex;
  gap: 4px;
  align-items: baseline;
  font-size: 9px;
}

.card-item__order_price-value {
  color: var(--text-black, #000);
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.card-item__order_price-currency {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
}

.card-item__order_sale {
  display: inline-flex;
  gap: 3px;
  width: max-content;
  padding-bottom: 1px;
  color: var(--gray, #9797AF);
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border-bottom: 1px dashed var(--gray);
}

.card-item__mobile-price {
  display: none;
}

@media (width < 700px) {
  .available_section__content {
    border-top: 1px solid var(--rulers);
  }

  .available_section__content_cards-list {
    gap: 16px;
  }

  .available_section__content_card {
    flex-direction: column !important;
    width: 100%;
    margin-top: -1px;
    border-top: 1px solid var(--rulers);
  }

  .card-item__description_checkbox-with-image {
    width: 80px;
  }

  .card-item__description_checkbox-with-image p {
    position: relative;
  }

  .card-item__description_checkbox {
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 50;
    background-color: #FFF;
    border-radius: 6px;
  }

  .checkbox img {
    top: 0;
    scale: 1.01;
  }

  .card-item__checkbox_label::after {
    display: none;
  }

  .card-item__img {
    width: 80px;
    height: 106px;
    margin-left: 0;
  }

  .card-item__img_wrapper {
    width: 80px;
  }

  .card-item__text_footer_item_info {
    display: none;
  }

  .card-item__text_details_item_size {
    display: none;
  }

  .card-item__order_counter_wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 12px;
  }

  .card-item__order_counter {
    width: 80px;
    height: 32px;
  }

  .card-item_counter__value {
    font-size: 14px;
  }

  .card-item_counter__display {
    margin: 4px 0 7px;
  }

  .card-item__text_name {
    display: -webkit-box;
    overflow: hidden;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .card-item__order_price_wrapper {
    display: none;
  }

  .card-item__order {
    justify-content: space-between;
    width: 100%;
  }

  .card-item_order_counter_btns {
    gap: 24px;
    width: max-content;
  }

  .card-item_order_counter_btns button {
    width: 20px;
    height: 32px;
  }

  .card-item_order_counter_btns button svg {
    margin: 0 auto;
  }

  .card-item_order_counter_btns button::after {
    display: none;
  }

  .card-item__description {
    width: 100%;
  }

  .card-item_order_counter_warn {
    align-self: center;
  }

  .card-item__text {
    width: 100%;
    padding-right: 0;
  }

  .card-item__mobile-price {
    display: block;
    display: flex;
    gap: 5px;
    align-items: baseline;
  }

  .card-item__mobile-price p {
    color: var(--text-black, #000);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }

  .card-item__mobile-discount {
    display: block;
    padding-bottom: 1px;
    color: var(--light-gray);
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px dashed var(--gray);
  }
}