.header {
  position: relative;
  width: 100%;
  height: 122px;
  padding: 15px 20px 40px 24px;
  background-color: var(--violet);
}

.header::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 35px;
  background: var(--background-smoky);
  border-radius: 24px 24px 0 0;
  content: '';
}

.header__content {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1px 0;
}

.header__menu_logo {
  display: flex;
  gap: 16px;
  height: 56px;
}

.header__menu {
  position: relative;
  width: 48px;
  height: 48px;
  margin: 4px 0;
  border: 1px solid rgb(255 255 255 / 45%);
  border-radius: var(--border-radius);
}

.header__menu::after {
  position: absolute;
  top: 10px;
  left: 9px;
  width: 28px;
  height: 24px;
  background-image: url("../assets/icons/menu.svg");
  content: '';
}

.header__menu>img {
  align-items: center;
  width: 28px;
  height: 24px;
}

.header__logo {
  width: 110px;
  margin: 1px 0 7px;
  color: var(--text-white);
  font-weight: 600;
  font-size: 28px;
  font-variant: all-small-caps;
  line-height: 24px;
  letter-spacing: 0.56px;
}

.header__search-input_wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  height: 48px;
  padding: 10px 20px;
  color: var(--text-white);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background: rgb(255 255 255 / 20%);
  background-repeat: no-repeat;
  border-radius: 36px;
  cursor: pointer;
}

.header__search-input {
  flex: 1;
  padding: 0 0 4px;
  color: var(--text-white);
  background: none;
}

.header__search-input:focus {
  outline: 0;
}

.header__search-button {
  width: 24px;
  height: 24px;
  margin: 12px 0 12px 8px;
  background: none;
  background-image: url('../assets/icons/search.svg');
  opacity: 0.4;
}

.header__search-input::placeholder {
  color: var(--text-white);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.5;
}

.header__icons {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.header__icon {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  padding-bottom: 3px;
}

.header__icon_img {
  width: 28px;
  height: 28px;
}

.header__icons_text {
  color: var(--text-white);
  font-weight: 400;
  font-size: 13px;
  font-style: normal;
  line-height: 16px;
}

.header__icons_profile>img {
  margin: 1px 13px 1px 15px;
}

.header__icons_basket>img {
  margin: 1px 18px 1px 10px;
}

.basket-value {
  position: absolute;
  top: -4px;
  right: 8px;
  display: inline-block;
  min-width: 16px;
  height: 16px;
  padding: 1px;
  color: #fff;
  font-weight: 800;
  font-size: 10px;
  text-align: center;
  background: var(--orange);
  border-radius: 16px;
}

.header__search-icon_mobile {
  display: none;
  width: 28px;
  height: 28px;
}

.header__search-icon_mobile img {
  width: 100%;
  height: 100%;
}

@media (width < 700px) {
  .header {
    height: 90px;
    padding: 0 13px;
  }

  .header__content {
    gap: 0;
    padding: 0;
  }

  .header__menu {
    margin: 0;
    padding: 0;
    border: none;
  }

  .header__menu::after {
    position: absolute;
    top: 14px;
    left: 0;
    width: 28px;
    height: 28px;
    background-image: url("../assets/icons/menu-mobile.svg");
    content: '';
  }

  .header__menu_logo {
    gap: 0;
  }

  .header__logo {
    flex: 1;
    width: max-content;
    margin: 0 auto;
    padding: 12px 0 21px;
    font-weight: 600;
    font-size: 26px;
    font-variant: all-small-caps;
    line-height: 24px;
    letter-spacing: 0.52px;
    text-align: center;
  }

  .header__search-input_wrapper {
    display: none;
    width: 100%;
  }

  .header__search-input {
    display: none;
  }

  .header__icons {
    display: none;
  }

  .header__icon_img {
    width: 28px;
    height: 28px;
  }

  .header__search-icon_mobile {
    display: block;
    width: 28px;
    height: 28px;
  }

  .header__search-icon_mobile img {
    padding: 2px;
  }
}